
body {
  font-family: 'Architects Daughter', cursive;
  font-style: normal;
  color: white;
  background-color: black;
  margin: auto;
  padding: 0;
  overflow-y: hidden;    /* Hide scrollbars */
  align-items: center;
  text-align: center;
  background-color: #000;
}

div.fontawesomebg {
 }

div.fontawesomebg:before {
  position:absolute;
  z-index: -1;
  font-family: FontAwesome;
  font-size: 500px;
  color: #0b0b0b;
  top:0;
  left:0;
  margin-right: 5px;
  content: "\f121";
}

.red {
  color: red;
}

.btn {
  padding-left: 32px;
  position: relative;
}

.btn:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f121";
}

h1 {
  font-size: 3em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #FFF, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite alternate;
  animation-delay: .1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

h4 {
  color: gray;
  letter-spacing: 5px;
  text-transform: lowercase;
}

a:link {
  text-decoration: none;
}

a.link:hover {
  display: block;
  transform: rotateY(180deg);
}


/*   pulsating circle */

.pulse {
  margin: 100px auto auto auto ;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: ;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
      box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
