
body {
  font-family: 'Architects Daughter', cursive;
  font-style: normal;
  color: white;
  background-color: black;
  margin: auto;
  padding: 0;
  overflow-y: hidden;    /* Hide scrollbars */
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #000;
}

div.fontawesomebg {
 }

div.fontawesomebg:before {
  position:absolute;
  z-index: -1;
  font-family: FontAwesome;
  right: 0px;
  font-size: 500px;
  color: #0b0b0b;
  top:0;
  left:0;
  margin-right: 5px;
  content: "\f121";
}

.red {
  color: red;
}

.btn {
  padding-left: 32px;
  position: relative;
}

.btn:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f122";
}

h1 {
  position: relative;
  font-size: 3em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #FFF, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite alternate;
  animation-delay: .3s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

h4 {
  color: gray;
  letter-spacing: 5px;
  text-transform: lowercase;
}

a:link {
  text-decoration: none;
  cursor: text;
}

a.link:hover {
  display: block;
  transform: rotateY(180deg);
}

a.image:hover {
  display: block;
}


/*   pulsating circle */

.pulse {
  margin: 100px auto auto auto ;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: deepskyblue;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(15,210,246, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 rgba(15,210,246, 0.4);
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15,210,246, 0.4);
    box-shadow: 0 0 0 0 rgba(15,210,246, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(15,210,246, 0);
      box-shadow: 0 0 0 30px rgba(15,210,246, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(15,210,246, 0);
      box-shadow: 0 0 0 0 rgba(15,210,246, 0);
  }
}

  /*   profile image property */
img {
  border-radius: 50%;
  border: 3px solid #808080;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

img:hover {
  /*  on hover scale profile image 125% */
  transform: scale(1.05, 1.05);
  border: 3px solid deepskyblue;
}

.box {
  animation: pulse .5s infinite;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
