  body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: lighter;
    color: #cbd6e7;
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    min-height: 100%;
    overflow-x: hidden; /* Hide scrollbars */
  }


/* flex box for nav */
    .Container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

  header {
    height: 100%;
    margin: 0 auto;
    padding: .5rem .5rem;
  }

  .profile {
      /*   profile image property */
    border-radius: 50%;
    border: 3px solid #808080;
    margin-top: .5em;

  }

  .portfoliothumb {
          /*   profile image property */
  }

  .intro {
    font: 1rem 'Open Sans', Arial, sans-serif;
  }

  p {

}

  h1 {
    line-height: 55px;
    font: 2rem 'Architects Daughter', cursive;
    letter-spacing: 3px;
    color: red;
}


  h2 {
    line-height: 55px;
    font: 1.5rem 'Architects Daughter', cursive;
    letter-spacing: 3px;
    color: white;
  }

  nav {
    font: 1rem 'Architects Daughter', cursive;
    display: inline-block;
}

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
  }

  /* nav list */

  li {
    color: white;
    padding: 0px 15px;
  }

  li a {
    color: white;
    text-decoration: none;
  }


  /* add psudo element icon*/
  li::before {
    font-family: FontAwesome;
    content: "\f104";
    color: red;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  li::after {
    font-family: FontAwesome;
    content: "\f105";
    color: red;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  /* remove psudo element */
  li.none::before {
   display: none;
 }

 li.none::after {
  display: none;
}

  /* Change the link color to #111 (black) on hover */
  li a.hvr-wobble-horizontal:hover {
  background-color: red;
  }


  li a:hover .tooltip {
    background-color: black;
    color: white;
  }

  /* FontAwesome */
  div.fontawesomebg {
   }

  div.fontawesomebg:before {
    position:absolute;
    z-index: -1;
    font-family: FontAwesome;
    font-size: 400px;
    color: #0b0b0b;
    right: 0;
    bottom: 0;
    content: "\f060";
  }


  /* Container for our tooltip */
  .tooltip { /* Container for our tooltip */

  }

  /* This is for the tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #000000;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-top: -10px;
    border-radius: 10px;  /* This defines tooltip text position */
    position: absolute;
    z-index: 1;
  }

  /* Makes tooltip text visible when text is hovered on */
  .tooltip:hover .tooltiptext {
     visibility: visible;
  }

  footer {
  font-size: .7rem;
}

  #footer {
    position: absolute;
    bottom: 0;
  }


  /*   pulsating circle */

  .pulse {
    animation: none;
    display: block;
    width: 32px;
    height: 32px;
  }

  .pulse:hover {
    animation: pulse 2s infinite;
    border-radius: 100%;
    background: deepskyblue;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(15,210,246, 0.4);
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(15,210,246, 0.4);
      box-shadow: 0 0 0 0 rgba(15,210,246, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(15,210,246, 0);
        box-shadow: 0 0 0 30px rgba(15,210,246, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(15,210,246, 0);
        box-shadow: 0 0 0 0 rgba(15,210,246, 0);
    }
  }


  /* Nav animation - Wobble Horizontal */
  @-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }

  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
